* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter';
    text-align: center;
    background-color: rgb(209, 228, 233);
    font-size: 100%;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    white-space: nowrap;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
}

header {
    width: 100%;
    top: 0;
    height: 11vh;
    background: rgb(245, 255, 254);
    border-bottom-left-radius: 3vh;
    border-bottom-right-radius: 3vh;
    position: fixed;
    box-shadow: .25vh .25vw gray;

}

.logo {
    flex-shrink: 0;
    flex-grow: 0;
    width: 30%;
    text-align: left;
    margin-left: -2.5vw;
    line-height: 11vh;
    justify-self: flex-start;
}

.logo a {
    text-decoration: none;
    font-size: 2.5vh;
    font-family: 'Inter';
    color: rgb(68, 172, 190);
}

.logo-title {
    margin-top: 0vh;
    padding: 0;
}

.multicolorlogo {
    color: #243841;
}

.searchbar {
    margin-left: -9vw;
    flex-grow: 3;
    background-color: #e9e9e900;
}

.searchbar a {
    border-radius: 1vh;
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: .875vh 1vw;
    text-decoration: none;
    font-size: 1vw;
}

.searchbar a:hover {
    background-color: #D9EFF0;
    color: black;
}

.searchbar a.active {
    background-color: #2196F3;
    color: white;
}

.searchbar input[type=text] {
    width: 30vw;
    float: left;
    padding: .5625vw;
    border: none;
    font-size: 1.5vh;
    background-color: #D9EFF0;
    border-radius: 2vw;
    color: #959595;
}

.imgleft {
    float: left;
    max-width: 8vh;
    min-width: 8vh;
}

nav {
    flex-grow: 0;
    margin-right: 1vw;
    line-height: 5vh;
}

nav a {
    text-decoration: none;
    font-family: 'Inter';
    font-size: 2.5vh;
    color: #000;
    padding: 2.5vh 0.625vw;
}

nav a:hover {
    border-radius: 3vw;
    padding: .8vw;
    background: #D1E4E9;
    color: black;
}

.profile {
    justify-self: felx-end;
    align-self: center;
    margin-top: -2.5vh;
    float: right;
}

.profile .profilepic {
    border-radius: 50vw;
    z-index: 5;
    position: relative;
}

.profilepic {
    max-width: 8vh;
    min-width: 8vh;
}

.profile .profilepic span {
    background: none;
}

.profile .behindpfp {
    background-color: #FFBCBC;
    border-radius: 1vh;
    width: 70%;
    margin-left: 15%;
    height: 3.5vh;
    line-height: 5vh;
    margin-top: -2vh;
    font-size: 0.75vw;
}

.profile .activedot {
    background-color: #00E309;
    position: relative;
    z-index: 6;
    width: 1vw;
    height: 1vw;
    border-radius: 100vw;
    margin-left: 75%;
    margin-top: -40%;
}

.post-body {
    background-color: #F8FFFE;
    margin-left: 25vw;
    margin-top: 13vh;
    border-radius: 3vh;
    width: 50vw;
    height: 95vh;
    padding-bottom: 3vh;
}

.post-wrapper {
    width: 90%;
    margin: 0 auto;
    white-space: nowrap;
    display: block;
}

.post-wrapper a {
    margin-top: -7vh;
    font-size: 4vh;
    float: right;
    text-decoration: none;
}

post-header {
    width: 100%;
    height: 10vh;
    background: rgb(245, 255, 254);
    border-bottom-left-radius: 3vh;
    border-bottom-right-radius: 3vh;

}


.post-logo {
    float: center;
    margin-top: 1vh;
    padding-top: 2vh;
}

.logocenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
    max-width: 16vh;
    min-width: 16vh;
    margin-top: -1vh;
}

.imagecenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
    max-height: 40vh;
    min-height: 40vh;
}

.post-rating {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    background-color: #FFBCBC;
    border-radius: 1vh;
    width: 5vh;
    height: 2.3vh;
    line-height: 2vh;
    font-size: 2vh;
}

.post-description {
    margin-top: 1.5vh;
    text-decoration: none;
    font-family: 'Inter';
    font-size: 1.75vh;
    text-align: center;
    color: #000;
    margin-left: 10%;
    margin-right: 10%;
}

.post-settings:hover {
    color: #fff;
    background: #000;
}

post-infomatics {
    width: 100%;
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
}

post-infomatics a {
    text-decoration: none;
    font-family: 'Inter';
    font-size: 1vh;
    color: black;
    padding-right: 10vh;
}

.post-infomatics-images {
    max-width: 2.5vh;
    min-width: 2.5vh;
}

.date {
    margin-left: 1vh;
}

.time {
    margin-left: 1vh;
}

.participants {
    margin-left: 1vh;
}

.post-register {
    border-radius: 1vh;
    font-size: 3.2vh;
    line-height: 8vh;
    font-family: 'Inter';
    color: black;
    text-align: center;
    background-color: #B1FF96;
    width: 40%;
    height: 8vh;
    margin-left: 30%;
    margin-top: 1vh;
}

.post-register button {
    border-radius: 1vh;
    font-size: 3.2vh;
    line-height: 8vh;
    font-family: 'Inter';
    color: black;
    text-align: center;
    background-color: #B1FF96;
    width: 40%;
    height: 8vh;
    margin-left: 30%;
    margin-top: 1vh;
}

.post-register button:hover {
    background-color: #38C805;
}

.post-register post-register:hover {
    background-color: #38C805;
}

.post-share {
    margin-top: 1vh;
    margin-left: 30%;
    width: 19.5%;
    height: 4vh;
    background-color: #e4e4e4;
    border-radius: 1vh;
    line-height: 4vh;
    font-size: 1.6vh;
    font-family: 'Inter';
}

.post-share:hover {
    background-color: #919191;
    color: white;
}

.post-save {
    margin-top: -4vh;
    margin-left: 50.5%;
    width: 19.5%;
    height: 4vh;
    background-color: #e4e4e4;
    border-radius: 1vh;
    line-height: 4vh;
    font-size: 1.6vh;
    font-family: 'Inter';
}

.post-save:hover {
    background-color: #919191;
    color: white;
}

.post-save button {
    margin-top: -4vh;
    margin-left: 50.5%;
    width: 19.5%;
    height: 4vh;
    background-color: #e4e4e4;
    border-radius: 1vh;
    line-height: 4vh;
    font-size: 1.6vh;
    font-family: 'Inter';
}

.post-save button:hover {
    background-color: #919191;
    color: white;
}

.post-warnings {
    width: 100%;
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
}

.warningimages {
    max-height: 4vh;
    padding-right: 2vh;
}