*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
} 

body {
    font-family: 'Inter';
    text-align: center;
    background-color: rgb(209, 228, 233);
    font-size:100%;
}

.post-body{
    background-color: #F8FFFE;
    margin-left: auto;
    margin-right: auto;
    margin-top: 13vh;
    border-radius: 3%;
    width: 1200px;
    height: 907px;
    padding-bottom: 3vh;
}

.post-wrapper{
    width:90%;
    margin: 0 auto;
    white-space: nowrap;
    display:block;
}

.post-wrapper a{
    margin-top:-7vh;
    font-size:4vh;
    float:right;
    text-decoration: none;
}

post-header{
    width:100%;
    height: 10vh;
    background: rgb(245,255,254);
    border-bottom-left-radius: 3vh;
    border-bottom-right-radius: 3vh;
    
}


.post-logo {
    float:center;
    margin-top: 1vh;
    padding-top: 2vh;
}

.logocenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
    height:86px;
    margin-top:0vh;
    margin-bottom:9.5px;
}

.imagecenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
    max-height:400px;
    height:400px;
    max-width:900px;
}

.post-rating{
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    background-color: #FFBCBC;
    border-radius: 33px;
    width: 50px;
    height: 21.5px;
    line-height:135%;
    font-size:16px;
}

.post-description {
    margin-top: 13.5px;
    text-decoration: none;
    font-family: 'Inter';
    font-size: 16px;
    text-align: center;
    color:#000;
    margin-left: 10%;
    margin-right: 10%;
}

.post-settings:hover {
    color: #fff;
    background: #000;
}

post-infomatics {
    width:100%;
    display:flex;
    height:60px;
    justify-content:center;
    align-items:center;
}

post-infomatics a{
    text-decoration: none;
    font-family: 'Inter';
    font-size: 13.5px;
    color: black;
    padding-right: 92px;
}

.post-infomatics-images {
    width:25px;
}

.date {
    margin-left: 13.5px;
}

.time {
    margin-left: 13.5px;
}

.participants {
    margin-left: 13.5px;
}
.post-register {
    border-radius: 13.5px;
    font-size: 32px;
    line-height: 80px;
    font-family: 'Inter';
    color: black;
    text-align: center;
    background-color: #B1FF96;
    width: 40%;
    height: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.post-register:hover{
    background-color:#38C805;
}

.post-save {
    width: 40%;
    height: 40px;
    background-color: #e4e4e4;
    border-radius: 10px;
    line-height: 40px;
    font-size: 16px;
    font-family: 'Inter';
}

.post-save:hover{
    background-color:#919191;
    color: white;
}

.post-warnings {
    width:100%;
    display:flex;
    height:93px;
    justify-content:center;
    align-items:center;
}

.warningimages {
    max-height:40px;
    padding-right:25px;
}
